body {
  font-size: 17px;
}
.ptp-about-blurb a {
  color: #febe10;
  vertical-align: bottom;
}

.ptp-about-blurb {
  color: #fff;
  text-align: center;
}

.home-carousel .ptp-about-title {
  color: #febe10;
  text-align: center;
  padding-top: 10px;
}

.home-carousel .dark-mask {
  background-color: #00548e;
}

h1.ptp-programs {
  text-align: center;
}

#content {
  padding-bottom: 25px; 
}

.lead {
  text-align: center;
}

#post-content img {
  max-width:600px;
}

#ptp-events {
  color: #fff;
}

#ptp-events-footer {
  margin-top: 10px;
  font-size: .8em;
}

.ptp-event-summary a {
  color: #fff;
}

.ptp-event-summary {
  font-weight: bold;
  padding-top: 7px;
}

h4.ptp-events-header {
  color: #febe10;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
}

h1.ptp-home, img.ptp-home {
  text-align: center;
}

img.ptp-home {
  margin-left: auto;
  margin-right: auto;
}

.home-carousel #ptp-mastodon p {
  text-transform: none;
}
