{{ template "_internal/google_analytics.html" . }}
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.cookie.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/jquery-parallax.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<script src="{{ "js/front.js" | relURL }}"></script>

<!-- Parse ical feeds for front page -->
<script src="/js/ical.min.js"></script>
<script src="/js/ptp-events.js"></script>

<!-- owl carousel -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

